
/***********************************
      Predefined theme colors
***********************************/


$theme-success: #52BD7E;
$theme-success-border: #4cae4c;
$theme-success-hover: #39A465;
$theme-success-border-hover: #398439;



/***********************************
      Color of Components
***********************************/


$search-bg: #252526;
$search-border: #e2e2e2;
$search-border-active: #1FC2F9;
$search-placeholder: #92989b;


$dashboard-text-dark: #2b333e;
$dashboard-text: #6a7f8e;


$avatar-border: darkgrey;
$row-border: lightgrey;

$title-bg: #609CCE;
$title-text: #fff;


$link-color: #477DCB;
$link-color-hover: #6096e4;



